{% extends 'adminbase.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block body %}
    <div class="content">
    <main>
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-mattBlackLight my-2 p-3">
                        <h1>Dashboard</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-mattBlackLight my-2 p-3">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
